{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock %}

{% block content %}
<h1>Sobre a Phoenix</h1>
<p>
    2017 oferecendo aulas dinâmicas, personalizadas e com material próprio aos alunos de Inglês e Espanhol, em 2022 aumentamos nossas línguas para Francês, Italiano e Português para extrangeiros e seguimos aumentando as línguas oferecidas aos nossos alunos com o mesmo amor.
</p>
<p>
A Phoenix Language Center nasceu de uma paixão pelo ensino de línguas, assim como eu me encontrei na profissão que hoje tanto amo, a Phoenix vem encontrando o seu espaço no mundo das aulas online.
</p>
<p>
Com professores extremamente capacitados e uma equipe de ponta para te atender oferecemos um ensino totalmente personalizado.
</p>
<p>
O nome Phoenix é uma alusão a Fênix, um pássaro místico que morre queimado, mas retorna das próprias cinzas, assim como o pássaro nós também já enfretamos muito, mas sempre voltamos para ajudar vocês a crescerem também!
</p>
{% endblock %}