{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div style="background-image: url('https://www.kindpng.com/picc/m/238-2387632_language-learning-png-transparent-png.png');">
            <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 4em 0 0 0">Aprenda idiomas com a nossa paixão por ensinar</h1>
            <h2 style="font-size:medium;font-family:'Courier New', Courier, monospace; margin-bottom:0;padding: 0 0 6em 0; width:40em">Com a Phoenix, você tem aulas personalizadas para você na busca por uma nova língua, seja por trabalho, por estudos ou pela mera vontade de aprender.</h2>
        </div>
        <div style="display:block;background-color: rgb(253, 165, 1); padding-bottom: 3%;">
            <h1>Conheça a Phoenix</h1>
            <div style="display: flex; text-align:center; justify-content: center;">
                <div class="card" style="width: 33%; display:table-column; background-color:rgba(255, 255, 255, 0.3)">
                    <div><img src="{% static 'dialog.svg' %}" style="height: 100px; margin: 10px;" alt=""></div>
                    Aprenda novos idiomas
                </div>
                <div class="card" style="width: 33%; display:table-column; background-color:rgba(255, 255, 255, 0.3)">
                    <div><img src="{% static 'conference-video-call.svg' %}" style="height: 80px; margin: 20px;" alt=""></div>
                    Aulas Particulares
                </div>
                <div class="card" style="width: 33%;display:table-column; background-color:rgba(255, 255, 255, 0.3)">
                    <div><img src="{% static 'target-audience.svg' %}" style="height: 100px; margin: 10px;" alt=""></div>
                    Conteúdo personalizado para atender as demandas do aluno
                </div>
            </div>
        </div>
        <div style="display:block;background-color: rgb(253, 165, 1); padding-bottom: 3%;">
            <h1>Nossos Idiomas</h1>
            <section class="row row-cols-1 row-cols-md-3 g-4" style="margin: auto;">
                <div class="card text-center">
                    <img style="margin:0 auto" src="https://flagcdn.com/256x192/us.png" width="256" height="192" alt="South Africa">
                    <div class="card-body">
                        <h5 class="card-title">Inglês</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <img style="margin:0 auto" src="https://flagcdn.com/256x192/es.png" width="256" height="192" alt="South Africa">
                    <div class="card-body">
                        <h5 class="card-title">Espanhol</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <img style="margin:0 auto" src="https://flagcdn.com/256x192/br.png" width="256" height="192" alt="South Africa">
                    <div class="card-body">
                        <h5 class="card-title">Português (para estrangeiros)</h5>
                    </div>
                </div>
                <div class="card text-center">
                    <img style="margin:0 auto" src="https://flagcdn.com/256x192/it.png" width="256" height="192" alt="South Africa">
                    <div class="card-body">
                        <h5 class="card-title">Italiano</h5>
                    </div>
                </div>
                
            </section>
        </div>
{% endblock %}