<div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Navegação</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'alunos_index' %}" class="nav-link {% if '' in request.path %} active {% else %} active {% endif %}">
            <i class="fa-solid fa-gauge-high"></i>
          Home
        </a>
      </li>
      <li>
        <a href="{% url 'meus_cursos' %}" class="nav-link link-dark">
          <i class="fa-solid fa-book"></i>
        Meus Cursos
      </a>
        <a href="{% url 'minhas_aulas' %}" class="nav-link link-dark">
            <i class="fa-solid fa-clipboard-user"></i>
          Minhas Aulas
        </a>
      </li>
      <li>
        <a href="{% url 'meus_pagamentos' %}" class="nav-link link-dark">
            <i class="fa-solid fa-money-bill"></i>
          Meus Pagamentos
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ user.username }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
      </ul>
    </div>
</div>