{% extends 'base_interface.html' %}
{% block title %}
Adicionar curso
{% endblock %}

{% block sidebar %}
{% include 'adm_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Gerenciar Idiomas</h1>
<a class='btn btn-primary' href="{% url 'add_idioma' %}"><i class="fa-solid fa-plus"></i> Adicionar</a>
<table class="table table-dark table-striped" style="width: 100%;">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Curso</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        
{% for idioma in idioma_list %}
    <tr>
        <th scope="row">{{idioma.id}}</th>
        <td>{{ idioma.idioma }}</td>
        <td>
          <a href="{% url 'update_idioma' idioma.id %}" class="btn btn-outline-warning btn-sm">
            <i class="fa-solid fa-pencil"></i>
        </a> 
        <a href="{% url 'delete_idioma' idioma.id %}" class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-trash"></i>
        </td>
    </tr>
 {% endfor %}
    </tbody>
</table>
{% endblock %}