{% extends 'base_interface.html' %}
{% block title %}
Gerenciar Presença
{% endblock %}

{% block sidebar %}
{% include 'professores_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Gerenciar Aulas</h1>
<a class='btn btn-primary' href="{% url 'create_aula' %}"><i class="fa-solid fa-plus"></i> Adicionar</a>
<table class="table table-dark table-striped" style="width: 100%;">
    <thead>
        <tr>
          <th scope="col">Curso</th>
          <th scope="col">Data</th>
          <th scope="col">Descrição</th>
          <th scope="col">Presente?</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        
{% for aula in aula_list %}
    <tr>
        <td>{{ aula.curso }}</td>
        <td>{{ aula.data }}</td>
        <td><a href="{% url 'descricao_aula' aula.id %}">Ver</a></td>
        <td>{% if aula.presente %}<i class="fa-solid fa-check"></i> {% else %} <i class="fa-solid fa-x"></i>{% endif %}</td>
        <td>
          <a href="{% url 'update_aula' aula.id %}" class="btn btn-outline-warning btn-sm">
            <i class="fa-solid fa-pencil"></i>
        </a> 
        <a href="{% url 'delete_aula' aula.id %}" class="btn btn-outline-danger btn-sm">
            <i class="fa-solid fa-trash"></i>
        </td>
    </tr>
 {% endfor %}
    </tbody>
</table>
{% endblock %}