{% extends 'base_interface.html' %}
{% block title %}
Área do Professor
{% endblock %}

{% block sidebar %}
{% include 'professores_sidebar.html' %}
{% endblock %}

{% block content %}
<h1>Home</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card-counter primary">
                <i class="fa fa-graduation-cap"></i>
                <span class="count-numbers">{{ alunos }}</span>
                <span class="count-name">Alunos</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <i class="fa fa-book"></i>
                <span class="count-numbers">{{ cursos }}</span>
                <span class="count-name">Cursos</span>
            </div>
          </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <i class="fa fa-clipboard-user"></i>
                <span class="count-numbers">{{ aulas }}</span>
                <span class="count-name">Aulas Registradas</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}